section.panel {
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #fff;
  border-radius: 8px;
  height: 110px;
  width: 189px;
  right: 11.9%;
  top: 58%;
  pointer-events: auto !important;
  cursor: auto !important;
}

header.header {
  background-color: #5f7280;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;

  h2.title {
    flex: 1;
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}

.rows {
  padding: 8px 16px;

  .row {
    display: flex;
    justify-content: space-between;

    .key {
      font-size: 12px;
    }

    .value {
      font-size: 13px;
      font-weight: 600;
    }
  }
}

